body {
    font-family: Arial, sans-serif;
    background-color: rgb(29, 13, 124);
    margin: 0;
    padding: 0;
}
.app-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.app {
    background-color: rgb(20, 156, 187);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    color: #333;
    margin-bottom: 20px;
}
.input-cont {
    display: flex;
    margin-bottom: 20px;
}
input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}
button {
    background-color:yellowgreen;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}
.task-lists {
    display: flex;
    justify-content: space-between;
}
.task-list {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    margin-right: 10px;
    width: 48%; /* Increase the width */
    box-sizing: border-box; /* Ensure padding doesn't increase the width */
}
h2 {
    color: #333;
    margin-top: 0;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    transition: background-color 0.3s ease;
}
li:hover {
    background-color: #e9e9e9;
}
li input[type="checkbox"] {
    margin-right: 10px;
}
.completed {
    text-decoration: line-through;
    background-color: #e0e0e0;
}
.completed:hover {
    background-color: #f0f0f0;
}
button.edit-button,
button.delete-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
}
button.edit-button:hover,
button.delete-button:hover {
    background-color:black;
}